<div ng-controller="CheckAvailabilityController">
    <form role="form">
        <div class="form-group">
            <label for="pickupDate">Pick Up:</label>

            <div class="input-group">
                <input class="pickupDate form-control" data-date-format="mm/dd/yyyy" id="pickupDate"
                       ng-model="pickupDate" required>
                    <span class="input-group-addon " ng-click="setFocus('pickupDate')">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
            </div>
            <div class="col-xs-6">
                <select class="form-control" id="pickupHour" ng-model="pickupHour">
                    <option value="00">00 hrs</option>
                    <option value="01">01 hrs</option>
                    <option value="02">02 hrs</option>
                    <option value="03">03 hrs</option>
                    <option value="04">04 hrs</option>
                    <option value="05">05 hrs</option>
                    <option value="06">06 hrs</option>
                    <option value="07">07 hrs</option>
                    <option value="08">08 hrs</option>
                    <option value="09">09 hrs</option>
                    <option value="10">10 hrs</option>
                    <option value="11">11 hrs</option>
                    <option value="12">12 hrs</option>
                    <option value="13">13 hrs</option>
                    <option value="14">14 hrs</option>
                    <option value="15">15 hrs</option>
                    <option value="16">16 hrs</option>
                    <option value="17">17 hrs</option>
                    <option value="18">18 hrs</option>
                    <option value="19">19 hrs</option>
                    <option value="20">20 hrs</option>
                    <option value="21">21 hrs</option>
                    <option value="22">22 hrs</option>
                    <option value="23">23 hrs</option>
                </select>
            </div>
            <div class="col-xs-6">
                <select class="form-control" id="pickupMin" ng-model="pickupMin">
                    <option value="00">00 mins</option>
                    <option value="15">15 mins</option>
                    <option value="30">30 mins</option>
                    <option value="45">45 mins</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="ride">Ride:</label>
            <select class="form-control" id="ride" ng-model="ride">
                <option value="4">Four Seater</option>
                <option value="6">Six Seater</option>
            </select>
            <select class="form-control" id="rideType" ng-model="rideType">
                <option value="Drop">Drop only</option>
                <option value="Return">Return</option>
            </select>
        </div>
        <button type="button" ng-click="form.$valid ? book() : setFocus('pickupDate')"
                class="btn btn-default">
            Check Availability
        </button>
    </form>
</div>