<div id="bookingCont" class="container-fluid" ng-controller="BookingController">
    <form class="form-horizontal" role="form" name="form">

        <div class="form-group">
            <h3 class="text-center">
                <label class="label label-default control-label">Delhi &amp; NCR Booking</label>
            </h3>
        </div>
        <div class="well well-sm animate text-center" ng-if="isAvail">{{pickupDate + ' ' + pickupHour + ':' + pickupMin
            + ' - ' +
            ride +
            ' Seater for ' + days + ' days'}}
        </div>
        <div class="animate" ng-show="!isAvail" ng-init="pickupHour='10'; pickupMin='00'; ride='4'">
            <div class="form-group">
                <div ng-class="getFormControlClass(4,4,3,4)">
                    <label for="pickupDate">Pick Up Date & Time:</label>
                </div>
                <div ng-class="getFormControlClass(4,4,5,8)">
                    <div class="input-group">
                        <input type="text" class="form-control" id="pickupDate" ng-model="pickupDate" required>
                    <span class="input-group-addon" onclick="setFocus('pickupDate')">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
                    </div>
                </div>
                <div ng-class="getFormControlClass(2,2,2,4)">
                    <select class="form-control" id="pickupHour" ng-model="pickupHour">
                        <option value="00">00 hrs</option>
                        <option value="01">01 hrs</option>
                        <option value="02">02 hrs</option>
                        <option value="03">03 hrs</option>
                        <option value="04">04 hrs</option>
                        <option value="05">05 hrs</option>
                        <option value="06">06 hrs</option>
                        <option value="07">07 hrs</option>
                        <option value="08">08 hrs</option>
                        <option value="09">09 hrs</option>
                        <option value="10">10 hrs</option>
                        <option value="11">11 hrs</option>
                        <option value="12">12 hrs</option>
                        <option value="13">13 hrs</option>
                        <option value="14">14 hrs</option>
                        <option value="15">15 hrs</option>
                        <option value="16">16 hrs</option>
                        <option value="17">17 hrs</option>
                        <option value="18">18 hrs</option>
                        <option value="19">19 hrs</option>
                        <option value="20">20 hrs</option>
                        <option value="21">21 hrs</option>
                        <option value="22">22 hrs</option>
                        <option value="23">23 hrs</option>
                    </select>
                </div>
                <div ng-class="getFormControlClass(2,2,2,4)">
                    <select class="form-control" id="pickupMin" ng-model="pickupMin">
                        <option value="00">00 mins</option>
                        <option value="15">15 mins</option>
                        <option value="30">30 mins</option>
                        <option value="45">45 mins</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div ng-class="getFormControlClass(4,4,3,4)">
                    <label for="ride">Ride:</label>
                </div>
                <div ng-class="getFormControlClass(8,8,9,8)">
                    <select class="form-control" id="ride" ng-model="ride">
                        <option value="4">Four Seater</option>
                        <option value="6">Six Seater</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <!--<div ng-class="getFormControlClass(4)">-->
                <!--<label for="days">No Of Days:</label>-->
                <!--</div>-->
                <!--<div ng-class="getFormControlClass(4)">-->
                <!--<select class="form-control" id="days" ng-model="days">-->
                <!--<option value="1">1</option>-->
                <!--<option value="2">2</option>-->
                <!--<option value="3">3</option>-->
                <!--<option value="4">4</option>-->
                <!--<option value="5">5</option>-->
                <!--<option value="6">6</option>-->
                <!--<option value="7">7</option>-->
                <!--<option value="8">8</option>-->
                <!--<option value="9">9</option>-->
                <!--<option value="10">10</option>-->
                <!--<option value="11">11</option>-->
                <!--<option value="12">12</option>-->
                <!--<option value="13">13</option>-->
                <!--<option value="14">14</option>-->
                <!--<option value="15">15</option>-->
                <!--</select>-->
                <!--</div>-->
                <div ng-class="getFormControlClass(1) + getFormControlOffsetClass(4,4,3,4)">
                    <button type="button" ng-click="form.$valid ? book() : setFocus('pickupDate')"
                            class="btn btn-default">
                        Book
                    </button>
                </div>
                <div ng-class="getFormControlClass(5)">
                    <h4><span class="label label-danger" ng-if="isAvail==false"><strong>Sorry!</strong> Cabs are not available.</span>
                    </h4>
                    <!--<h4><span class="label label-danger" ng-if="form.$dirty && form.$error.required">Date is required</span></h4>-->
                </div>
            </div>
        </div>
        <div ng-if="isAvail" class="animate">
            <div class="form-group">
                <div ng-class="getFormControlClass(4,4,3,3)">
                    <label for="name">Name:</label>
                </div>
                <div ng-class="getFormControlClass(2,2,3,3)">
                    <select class="form-control" id="">
                        <option value="Mr" selected="selected">Mr</option>
                        <option value="Ms">Ms</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Dr">Dr</option>
                    </select>
                </div>
                <div ng-class="getFormControlClass(6)">
                    <input type="text" class="form-control" id="name" placeholder="Enter Name">
                </div>
            </div>
            <div class="form-group">
                <div ng-class="getFormControlClass(4,4,3,3)">
                    <label for="mobile">Mobile:</label>
                </div>
                <div ng-class="getFormControlClass(8,8,9,9)">
                    <input type="tel" class="form-control" id="mobile">
                </div>
            </div>
            <div class="form-group">
                <div ng-class="getFormControlClass(4,4,3,3)">
                    <label for="email">Email:</label>
                </div>
                <div ng-class="getFormControlClass(8,8,9,9)">
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="form-group">
                <div ng-class="getFormControlClass(4,4,3,3)">
                    <label for="addr">Address:</label>
                </div>
                <div ng-class="getFormControlClass(8,8,9,9)">
                    <textarea class="form-control" rows="5" id="addr"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div ng-class="getFormControlClass(4,4,3,3)">
                    <label for="lmark">Landmark:</label>
                </div>
                <div ng-class="getFormControlClass(8,8,9,9)">
                    <input type="text" class="form-control" id="lmark">
                </div>
            </div>
            <div class="form-group">
                <div ng-class="getFormControlClass(3) + getFormControlOffsetClass(4,4,3,3)">
                    <button type="submit" class="btn btn-default">Book</button>
                </div>
                <div ng-class="getFormControlClass(4) + getFormControlOffsetClass(1,1,2,2)">
                    <button type="reset" class="btn btn-default pull-right" ng-click="reset()">Start Over
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>