<div id="bookingCont" class="container-fluid" ng-controller="BookingController">
    <form class="form" role="form" name="form">

        <div class="form-group">
            <h3 class="text-center">
                <label class="label label-default control-label">Delhi &amp; NCR Booking</label>
            </h3>
        </div>
        <div class="well well-sm animate text-center" ng-if="isAvail">{{pickupDate + ' ' + pickupHour + ':' + pickupMin
            + ' - ' +
            ride +
            ' Seater for ' + days + ' days'}}
        </div>
        <div class="animate" ng-show="!isAvail"
             ng-init="pickupHour='10'; pickupMin='00'; ride='4'; rideType='Drop'; days='3'">
            <div class="form-group">
                <label for="pickupDate" ng-class="getClass(4,4,4,0)">Pick Up:</label>
                <div ng-class="getClass(4,4,4,0)">
                    <div class="input-group">
                        <input class="pickupDate form-control" data-date-format="mm/dd/yyyy" id="pickupDate"
                               ng-model="pickupDate" required>
                    <span class="input-group-addon " ng-click="setFocus('pickupDate')">
                        <i class="glyphicon glyphicon-th"></i>
                    </span>
                    </div>
                </div>
                <div ng-class="getClass(2,2,2,6)">
                    <select class="form-control" id="pickupHour" ng-model="pickupHour">
                        <option value="00">00 hrs</option>
                        <option value="01">01 hrs</option>
                        <option value="02">02 hrs</option>
                        <option value="03">03 hrs</option>
                        <option value="04">04 hrs</option>
                        <option value="05">05 hrs</option>
                        <option value="06">06 hrs</option>
                        <option value="07">07 hrs</option>
                        <option value="08">08 hrs</option>
                        <option value="09">09 hrs</option>
                        <option value="10">10 hrs</option>
                        <option value="11">11 hrs</option>
                        <option value="12">12 hrs</option>
                        <option value="13">13 hrs</option>
                        <option value="14">14 hrs</option>
                        <option value="15">15 hrs</option>
                        <option value="16">16 hrs</option>
                        <option value="17">17 hrs</option>
                        <option value="18">18 hrs</option>
                        <option value="19">19 hrs</option>
                        <option value="20">20 hrs</option>
                        <option value="21">21 hrs</option>
                        <option value="22">22 hrs</option>
                        <option value="23">23 hrs</option>
                    </select>
                </div>
                <div ng-class="getClass(2,2,2,6)">
                    <select class="form-control" id="pickupMin" ng-model="pickupMin">
                        <option value="00">00 mins</option>
                        <option value="15">15 mins</option>
                        <option value="30">30 mins</option>
                        <option value="45">45 mins</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="ride" ng-class="getClass(4,4,4,0)">Ride:</label>
                <div ng-class="getClass(4,4,4,0)">
                    <select class="form-control" id="ride" ng-model="ride">
                        <option value="4">Four Seater</option>
                        <option value="6">Six Seater</option>
                    </select>
                </div>
                <div ng-class="getClass(4,4,4,0)">
                    <select class="form-control" id="rideType" ng-model="rideType">
                        <option value="Drop">Drop only</option>
                        <option value="Return">Return</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{hidden: hide}" onshow="create()">
                <label for="days" ng-class="getClass(4,4,4,0)">No of Days:</label>
                <div ng-class="getClass(8,8,8,0)">
                    <select class="form-control" id="days" ng-model="days">
                        <option value="1">1 day</option>
                        <option value="2">2 days</option>
                        <option value="3">3 days</option>
                        <option value="4">4 days</option>
                        <option value="5">5 days</option>
                        <option value="6">6 days</option>
                        <option value="7">7 days</option>
                        <option value="8">8 days</option>
                        <option value="9">9 days</option>
                        <option value="10">10 days</option>
                        <option value="11">11 days</option>
                        <option value="12">12 days</option>
                        <option value="13">13 days</option>
                        <option value="14">14 days</option>
                        <option value="15">15 days</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div ng-class="getClass(4,4,4,0) + getOffsetClass(4,4,4,0)">
                    <button type="button" ng-click="form.$valid ? book() : setFocus('pickupDate')"
                            class="btn btn-default form-control">
                        Check Availability
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div ng-class="getClass(8,8,8,0) + getOffsetClass(4,4,4,0)">
                    <h4>
                        <span class="label label-danger center-block" ng-if="isAvail==false">
                            <strong>Sorry!</strong> Cabs are not available.
                        </span>
                    </h4>
                    <!--<h4><span class="label label-danger" ng-if="form.$dirty && form.$error.required">Date is required</span></h4>-->
                </div>
            </div>
        </div>
        <div ng-if="isAvail" class="animate">
            <div class="form-group">
                <label for="name" ng-class="getClass(4,4,4,0)">Name:</label>
                <div ng-class="getClass(2,2,3,3)">
                    <select class="form-control" id="">
                        <option value="Mr" selected="selected">Mr</option>
                        <option value="Ms">Ms</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Dr">Dr</option>
                    </select>
                </div>
                <div ng-class="getClass(6,6,5,0)">
                    <input type="text" class="form-control" id="name" placeholder="Enter Name">
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" ng-class="getClass(4,4,4,0)">Mobile:</label>
                <div ng-class="getClass(8,8,8,0)">
                    <input type="tel" class="form-control" id="mobile">
                </div>
            </div>
            <div class="form-group">
                <label for="email" ng-class="getClass(4,4,4,0)">Email:</label>
                <div ng-class="getClass(8,8,8,0)">
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="form-group">
                <label for="pAddr" ng-class="getClass(4,4,4,0)">Pick-up Address:</label>
                <div ng-class="getClass(8,8,8,0)">
                    <textarea class="form-control" rows="5" id="pAddr"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="pLmark" ng-class="getClass(4,4,4,0)">Landmark:</label>
                <div ng-class="getClass(8,8,8,0)">
                    <input type="text" class="form-control" id="pLmark">
                </div>
            </div>
            <div class="checkbox" ng-class="getClass(8,8,8,0) + getOffsetClass(4,4,4,0)">
                <label><input type="checkbox" ng-model="sameAddr">Drop Address is same as Pick-up Address</label>
            </div>
            <div class="form-group" ng-hide="sameAddr">
                <label for="dAddr" ng-class="getClass(4,4,4,0)">Drop Address:</label>
                <div ng-class="getClass(8,8,8,0)">
                    <textarea class="form-control" rows="5" id="dAddr"></textarea>
                </div>
            </div>
            <div class="form-group" ng-hide="sameAddr">
                <label for="dLmark" ng-class="getClass(4,4,4,0)">Landmark:</label>
                <div ng-class="getClass(8,8,8,0)">
                    <input type="text" class="form-control" id="dLmark">
                </div>
            </div>
            <div class="form-group">
                <div ng-class="getClass(3) + getOffsetClass(4,4,4,0)">
                    <button type="submit" class="btn btn-default">Book</button>
                </div>
                <div ng-class="getClass(4) + getOffsetClass(1,1,1,5)">
                    <button type="reset" class="btn btn-default pull-right" ng-click="reset()">Start Over
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>