.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.control-label{
    text-align: left !important;
}

.form-control, .input-group {
    margin-bottom: 10px;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.ratings {
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
}

.slide-image {
    width: 100%;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    color: #333;
    padding: 9px;
}

textarea {
    min-height: 100px;
    resize: vertical;
}
/*/!*==========  Mobile First Method  ==========*!/*/

/*/!* Custom, iPhone Retina *!/*/
/*@media only screen and (min-width : 320px) {*/

/*}*/

/*/!* Extra Small Devices, Phones *!/*/
/*@media only screen and (min-width : 480px) {*/

/*}*/

/*/!* Small Devices, Tablets *!/*/
/*@media only screen and (min-width : 768px) {*/

/*}*/

/*/!* Medium Devices, Desktops *!/*/
/*@media only screen and (min-width : 992px) {*/

/*}*/

/*/!* Large Devices, Wide Screens *!/*/
/*@media only screen and (min-width : 1200px) {*/

/*}*/

/*/!*==========  Non-Mobile First Method  ==========*!/*/

/*/!* Large Devices, Wide Screens *!/*/
/*@media only screen and (max-width : 1200px) {*/

/*}*/

/*/!* Medium Devices, Desktops *!/*/
/*@media only screen and (max-width : 992px) {*/

/*}*/

/*/!* Small Devices, Tablets *!/*/
/*@media only screen and (max-width : 768px) {*/

/*}*/

/*/!* Extra Small Devices, Phones *!/*/
/*@media only screen and (max-width : 480px) {*/

/*}*/

/*/!* Custom, iPhone Retina *!/*/
/*@media only screen and (max-width : 320px) {*/

/*}*/